<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Kanpai</strong>
                </h4>
                <p>Alcalá 10<br>Madrid 28001</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">name@example.com</a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Kanpai 2015</p>
            </div>
        </div>
    </div>
</footer>