<a id="back-button" href="javascript:javascript:history.go(-1)" class="btn btn-dark btn-lg toggle-back"><i class="fa fa-arrow-left"></i></a>

<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top"  onclick = $("#menu-close").click(); >You are here</a>
        </li>
        <li>
            <%= breadcrumbs display_single_fragment: true, separator: " &#13;&#10; " %>
        </li>
    </ul>
</nav>
